@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

.about-section {
    padding: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    background: linear-gradient(to right, #ECF2FF, #FBFCFF);
}
/* Image */
.about-image-content {
    width: 50%;
    max-width: 100%;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px; /* khoảng cách giữa các ảnh */
}

.about-image1,
.about-image2,
.about-image3 {
    width: 40%;
    height: auto;
}

/* Thêm class để tạo hiệu ứng so le */
.about-image1 {
    align-self: flex-start;
}

.about-image2 {
    align-self: center;
}

.about-image3 {
    align-self: flex-end;
}

.about-doitac1,
.about-doitac2{
    width: 10%;
    height: auto;
    margin-right: 10px;
}

.about-doitac1 {
    align-self: flex-start;
}

.about-doitac2 {
    align-self: flex-end;
}



/* Text */
.about-text-content {
    width: 50%;
}
.about-title {
    font-family: 'Monsterrat', sans-serif;
    font-size: 40px;
    font-weight: bold;
}
.about-title > span {
    position: relative;
}
.about-title span::before {
    content: '';
    position: absolute;
    width: 75%;
    height: 4px;
    background-color: #9D2553;
    border-radius: 8px;
    left: 0;
    bottom: -12px;
}
.about-description {
    margin: 32px 0;
    color: #4d4b4b;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-style: bold;
    letter-spacing: .7px;
    line-height: 1.7rem;
    display: center;
}

.partners-section {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    color: #4d4b4b;
}

.partners-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 16px;
    text-decoration: underline;
}

.partners-list {
    display: flex;
    justify-content: center; /* Căn giữa mục "Đối tác" */
    gap: 40px; /* Khoảng cách giữa các đối tác */
}

.partner-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 150px; /* Đặt kích thước cố định cho item */
}

.partner-logo {
    width: 100px; /* Đặt kích thước logo bằng nhau */
    height: 100px;
    object-fit: contain; /* Đảm bảo hình ảnh không bị méo */
    margin-bottom: 8px;
}

.partner-name {
    font-size: 25px;
    font-weight: bold;
    margin-top: 8px;
    font-family: 'Montserrat', sans-serif;
}



.about-doitac {
    margin: 32px 0;
    color: #4d4b4b;
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    letter-spacing: .7px;
    line-height: 1.7rem;
    display: center;
}

.about-text-title {
    margin: 0 0 24px 0;
    color: #4d4b4b;
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-weight: bold;
    letter-spacing: .7px;
}
/* Steps */
.about-text-step {
    margin: 16px 0;
}
.about-text-sTitle {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: .7px;
}
.about-text-description {
    margin: 8px 24px;
    color: #4d4b4b;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: .7px;
    line-height: 1.6rem;
}
.fa-icon {
    color: #9D2553;
}
/* Responsive */
@media screen and (max-width: 1000px) {
    .about-section {
        display: block;
    }
    .about-image-content {
        width: 100%;
        max-width: 100%;
        margin: 0 0 32px 0;
    }
    .about-image1 {
        width: 100%;
        height: 100%;
    }
    .about-text-content {
        width: 100%;
    }
}
